body{
    margin-top: 100px;
    margin-bottom: 200px;
    margin-left: 350px;
    margin-right: 450px;
}

#square{
    outline: blue 11px;
    outline-style: solid;
    border-style: groove;
}

h2{
    text-align: center;
}

.LogIn{
   align-content: space-around;
   display:block;
   background-color: white;
   outline: blue solid 11px;
   border: 10px solid #0011ff;
   width: 270px;
   height: 270px;
   border-radius: 25px;
   padding: 20px;
   padding-top: 25px;
   padding-bottom: 100px;
   padding-left: 100px;
   padding-right: 100px;
   margin-top: 50opx;
   margin-bottom: 50px;
   margin-left: 100px;
   margin-right: 50px;
}

label{
    font-size: 18px;
    text-align: center;
}
#username{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#password{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#Submit{  
    font-size: 18px;
    width: 100%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}

#Submit:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.pointer {
    cursor: pointer;
}